<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.dao.mapper.CommodityMapper">
    <!-- 根据ID查询-->
    <select id="findById" parameterType="int" resultType="com.netease.entity.Commodity">
        select *
        from commodity where id=#{id};
    </select>
    <!-- 查询所有商品-->
    <select id="selectAll" resultType="com.netease.entity.Commodity">
        SELECT * FROM commodity
    </select>
    <!-- 插入-->
    <insert id="insertCommodity" parameterType="com.netease.entity.Commodity">
        insert into commodity
        (title,summary,imgUrl,text,price,publish_time,userID)values(#{title},#{summary},#{imgUrl},#{text},#{price},#{publishTime,jdbcType=TIMESTAMP},#{userID});
    </insert>
    <!-- 删除-->
    <delete id="deleteCommodityById" parameterType="int">
        delete from commodity
        where id=#{id}
    </delete>
    <!-- 更新-->
    <update id="updateCommodity" parameterType="com.netease.entity.Commodity">
        update  commodity set
        title=#{title},summary=#{summary},imgUrl=#{imgUrl} where
        id=#{id}
    </update>
</mapper>