<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.shopping.dao.mapper.UserMapper">

    <insert id="save" parameterType="com.netease.shopping.entity.User">
        insert User(userName,password,type) values(#{userName},#{password},#{type})
    </insert>
    <select id="getUsers" resultType="com.netease.shopping.entity.User">
                select * from User
     </select>
    <select id="getUsersByName" resultType="com.netease.shopping.entity.User">
                select * from User WHERE userName=#{username}
     </select>
</mapper>